In [20]:
#get stock data from yahoo finance api

##wget
!wget http://table.finance.yahoo.com/table.csv?s=3618.HK
#!wget http://finance.yahoo.com/d/quotes.csv?s=6818.HK&f=d2nop6

--2016-06-11 18:44:56--  http://table.finance.yahoo.com/table.csv?s=3618.HK
Resolving table.finance.yahoo.com... 124.108.101.10, 203.84.197.26, 203.84.197.9, ...
Connecting to table.finance.yahoo.com|124.108.101.10|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: 'table.csv?s=3618.HK'

table.csv?s=3618.HK     [   <=>              ]  62.67K  60.3KB/s    in 1.0s

2016-06-11 18:45:00 (60.3 KB/s) - 'table.csv?s=3618.HK' saved [64175]

In [21]:
!ls

3618HK.csv          README.md           input.ipynb         table.csv?s=3618.HK

In [22]:
!mv table.csv?s=3618.HK 3618HK.csv

In [16]:
import pandas as pd

In [23]:
data = pd.read_csv('3618HK.csv')
data.head()

         Date  Open  High   Low  Close   Volume  Adj Close
0  2016-06-10  4.06  4.06  3.93   3.95  7049000      3.750
1  2016-06-09  4.05  4.05  4.05   4.05        0      3.845
2  2016-06-08  4.09  4.09  4.03   4.05  6132000      3.845
3  2016-06-07  4.00  4.10  3.98   4.06  7621000      3.854
4  2016-06-06  3.94  3.99  3.94   3.99  6705000      3.788